.links a {
    text-decoration: none;
    font-family: Segoe UI;
    color:#90a4ae;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 16px;
}
.links {
    height: 50px;
    display: flex;
    justify-content:space-between;
}
.links a:hover{
    font-weight: bold;
   /* border: 2px solid dimgray;*/
    color: #3a3a3a;
    border-bottom: 2px solid #3a3a3a;
}    
.header img {
    opacity: 0.8;
}
.header {
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
}
.logo {
    border-left: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
}
body, html {
	height:100%;
	padding:0;
	margin:0;
}
.body {
	display:flex;
	height:33vh;
	flex-wrap: wrap;
	box-sizing:border-box;
}
.foto {
	box-sizing:border-box;
	width:33%;
	height:33vh;
	position:relative;
	background-color:black;
	
}
.linea{
	border-top: 1px solid white;
	width:2em;
	display:block;
	margin-bottom:0.2em;
	transition:all 1s;
}
.texto {
	color:white;
	font-family: 'Oswald', sans-serif;
	position:absolute;
	bottom:0;
	left:0;
	
}
p {
	padding-left:1em;
	padding-bottom:0.5em;
	margin:0;
}
.body p a {
	font-size:0.8em;
	font-weight:400;
	opacity:0;
	transition:all 1s;
	text-decoration: none;
	color: white;
}
.body:hover p a {
	opacity:1;
} 
.foto:hover img{
	opacity:1;
}
.foto:hover .linea{
	width:100%;
	margin-left:1em;
}
.foto img {
	object-fit: cover;
	width: 100%;
	height: 33vh;
	opacity:0.3;
	transition:all 1s;
}

.foto:hover video{
	opacity:1;
}
.foto:hover .linea{
	width:100%;
	margin-left:1em;
}
.foto video {
	object-fit: cover;
	width: 100%;
	height: 33vh;
	opacity:0.3;
	transition:all 1s;
}

.body footer {
	align-self: flex-end;
	justify-content: center;
	
}
.body footer p {
    font-family: 'Segoe UI';
    text-align: center;
	opacity: 0.7;
}
.header .logo a img{
    animation-name: animLogo;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes animLogo{
    0%{
        transform: translateX(-1000px);
    }
    50%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}


